@model List<TestApplication.Models.Person>

@{
    ViewBag.Title = "ShowUserById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show User By Id</h2>

<table class="table">
    <thead>
        <tr>
            <td>User Id</td>
            <td>User Name</td>
            <td>View Details</td>         
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Id </td>
            <td>@item.Name</td>
  
             <td> @Html.ActionLink("View Detail", "ShowUserDetail", "User", new { @id = @item.Id }, new { @class = "btn btn-info" })</td>
            </tr>

        }
    </tbody>

</table>



   
   
